<div class="flex justify-center items-center px-4 sm:px-6 lg:px-8 py-12">
  <form class="shadow-xl rounded-3xl p-8 bg-white max-w-md">
    <div class="mb-8 text-center">
      <h1 class="font-bold py-2 text-3xl text-[#2c2c2c]">
        Verify Your Email Address
      </h1>
      <h6 class="text-slate-600 text-base">
        We've sent a verification code to : <strong>{{ email }}</strong>
      </h6>
    </div>

    <h6 class="text-slate-600 text-base">
      Verification code
    </h6>
    <div class="flex gap-4">
      <mat-form-field appearance="outline" class="w-1/6" *ngFor="let control of codeControls; let i = index">
        <input matInput
               type="text"
               maxlength="1"
               [formControl]="control"
               (keydown)="onInput($event, i)"
               (input)="onInput($event, i)"
               class="text-center text-xl" />
      </mat-form-field>
    </div>

    <div class="my-9"></div>

    <a [routerLink]="['/login']"
    class="flex justify-start cursor-pointer">Back to Sign in</a>
  </form>
</div>
