.mat-icon {
  font-size: 26px;
  color: #555555;
}

.profilePhoto {
  border-width: 10px;
  border-color: #a8a8a8;
  border-radius: 8px;
}

.photo {
  background-color: #858585;
  border-radius: 0px 0px 8px 8px;
  border-width: 1px;
  border-color: #a8a8a8;
  color: #fff;
  height: 2em;
  width: 100%;
  padding: 20px 0;
}

.btnClear {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsla(0, 0%, 41%, 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
    &:hover {
      background: hsla(300, 100%, 50%, 0.25);
    }
   }

   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: transparent;
    border-width: 1px;
    border-color: #c0c0c0;
    &:hover {
      border-color: #853881;
    }
   }

   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 12pt;
    color: #2f2f2f;
    border-color: #c0c0c0;
    border-width: 1px;
    background-color: #fff;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }

   &:hover {
    filter: brightness(110%);
   }

   &:hover .edge {
    background: linear-gradient(
       to left,
       hsl(300, 30%, 32%) 0%,
       hsl(300, 36%, 38%) 8%,
       hsl(300, 34%, 34%) 92%,
       hsl(300, 61%, 64%) 100%
     );
     border-color: transparent;
   }

   &:hover .front {
    color: #fff;
    border-color: #833885;
    background: linear-gradient(454deg, #622d64, #78377a, #873e8a, #934396, #9e48a1);
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }

   &:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }

   &:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }

   &:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }

   &:focus:not(:focus-visible) {
    outline: none;
   }
}

.btnAdd {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsla(0, 0%, 41%, 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
    &:hover {
      background: hsla(125, 100%, 50%, 0.25);
    }
   }

   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: transparent;
    border-width: 1px;
    border-color: #c0c0c0;
    &:hover {
      border-color: #38854f;
    }
   }

   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 12pt;
    color: #2f2f2f;
    border-color: #c0c0c0;
    border-width: 1px;
    background-color: #fff;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }

   &:hover {
    filter: brightness(110%);
   }

   &:hover .edge {
    background: linear-gradient(
       to left,
       hsl(130, 30%, 32%) 0%,
       hsl(130, 36%, 38%) 8%,
       hsl(130, 34%, 34%) 92%,
       hsl(131, 61%, 64%) 100%
     );
     border-color: transparent;
   }

   &:hover .front {
    color: #fff;
    border-color: #38854f;
    background: linear-gradient(454deg, #22492a, #2a5a33, #336d3e, #418b4f, #4ba15b);
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }

   &:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }

   &:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }

   &:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }

   &:focus:not(:focus-visible) {
    outline: none;
   }
}
