<div class="flex justify-center gap-4">
  <button mat-icon-button
  type="button"
  style="color: #19d232; font-size: 26px; cursor: pointer;"
  (click)="onEdit()"
  matTooltip="Add Quiz Results"
  [matTooltipPosition]="positionL.value!"
  matTooltipHideDelay="50">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button
  [routerLink]="['/', { outlets : { ramRouter: ['student-quizzes-exams-details'] } }]"
    (click)="navigateTo({ label: 'PROGRESS HISTORY', url: ['/', {outlets: {ramRouter: ['student-quizzes-exams-details']}}]})"
  type="button"
  style="color: #5e35b1; font-size: 26px; cursor: pointer;"
  matTooltip="Progress History"
  [matTooltipPosition]="positionL.value!"
  matTooltipHideDelay="50">
    <mat-icon>description</mat-icon>
  </button>
</div>
