<mat-card appearance="outlined" class="w-full h-full rounded-xl">
  <mat-card-content>
    <div class="flex flex-col gap-7 mb-1">
      <div>
        <h1
         class="text-lg text-gray-600 font-bold pb-1 text-start">
          REGISTRATION&nbsp;&nbsp;FORM
        </h1>
        <hr class="border-slate-400">
      </div>
      <form class="flex flex-col gap-7"
        [formGroup]="form"
        (ngSubmit)="add()"
        #registerFormRef
        >
        <div class="flex gap-7 w-full">
          <div class="profilePhoto w-38 h-45 mb-7">
            @if(checkurlImage)
            {
              <div class="bg-[#a8a8a8] shadow-md w-full h-35 flex justify-center items-center">
                <img src="{{ urlImage }}" alt="User" class="w-full h-full rounded-full">
              </div>
            }
            @else
            {
              @if(initialLetter() === '')
              {
                <div class="bg-[#536DFE] text-white text-[16pt] font-light shadow-md w-full h-35 p-5 text-center flex items-center">
                  {{ noPhoto }}
                </div>
              }
              @else
              {
                <div class="bg-[#536DFE] text-white text-[40pt] font-medium shadow-md w-full h-35 p-5 flex justify-center items-center">
                  {{ initialLetter() }}
                </div>
              }
            }
            <div class="flex gap-5 justify-center photo">
              <button (click)="deleteImage()"
              type="button"
              class="flex items-center justify-center cursor-pointer">
                <span class="material-icons" style="color: #d32f2f;"
                matTooltip="Delete"
                [matTooltipPosition]="position.value!"
                matTooltipHideDelay="50"
                >delete</span>
              </button>

              <button (click)="fileInput.click()"
              type="button"
              [disabled]="isUploading"
              class="flex gap-2 items-center justify-center cursor-pointer">
                <span class="material-icons"
                matTooltip="Import"
                [matTooltipPosition]="position.value!"
                matTooltipHideDelay="50"
                >photo_camera</span>
              </button>
            </div>
            <!-- Input file escondido -->
            <input #fileInput
              type="file"
              accept="image/*"
              hidden
              (change)="onFileSelected($event)">
          </div>

          <div class="flex w-full flex-col gap-x-7 gap-y-0 md:grid md:grid-cols-2 lg:grid-cols-3 h-50">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Full Name</mat-label>
                <input matInput
                formControlName="fullName"
                type="text"
                maxlength="50"/>
                @if (getErrorForms('fullName')?.hasError('required')) {
                  <mat-error>FullName is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Email</mat-label>
                <input matInput
                formControlName="email"
                type="email"
                placeholder="e.g. etc@example.com"
                maxlength="50"/>
                @if (getErrorForms('email')?.hasError('email')) {
                  <mat-error>Please enter a valid email address</mat-error>
                }
                @else if (getErrorForms('email')?.hasError('required')) {
                  <mat-error>Email is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Phone Number</mat-label>
              <input matInput type="tel" formControlName="phoneNumber" mask="00 000 0000"
              placeholder="8X XXX XXXX"
              maxlength="50">
              @if (getErrorForms('phoneNumber')?.hasError('required')) {
                <mat-error>Phone Number is required</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Position</mat-label>
                <input matInput
                type="text" formControlName="position"/>
                @if (getErrorForms('position')?.hasError('required')) {
                  <mat-error>Position is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status" required>
                <mat-option value="active">Active</mat-option>
                <mat-option value="inactive">Inactive</mat-option>
              </mat-select>
              @if (getErrorForms('status')?.hasError('required')) {
                <mat-error>Status is required</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Roles</mat-label>
              <mat-select formControlName="roles" required="">
                <mat-option value="admin">Admin</mat-option>
                <mat-option value="user">User</mat-option>
              </mat-select>
              @if (getErrorForms('status')?.hasError('required')) {
                <mat-error>Roles is required</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>New Password</mat-label>
                <input matInput
                formControlName="newPassword"
                type="{{ hideN ? 'password' : 'text' }}"
                placeholder="Enter your new password"
                maxlength="50"/>
                <mat-icon style="cursor: pointer;" matSuffix (click)="hideN = !hideN"
                [matTooltip]="hideN ? 'Show password' : 'Hide password'"
                >{{ hideN ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                @if (getErrorForms('newPassword')?.hasError('required')) {
                  <mat-error>Please enter your new password.</mat-error>
                }
                @else if (getErrorForms('newPassword')?.hasError('minlength')) {
                  <mat-error>Password must be at least 6 characters long.</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Confirm new Password</mat-label>
                <input matInput
                formControlName="confirmNewPassword"
                type="{{ hideCN ? 'password' : 'text' }}"
                placeholder="Confirm your new Password"
                maxlength="50"/>
                <mat-icon style="cursor: pointer;" matSuffix (click)="hideCN = !hideCN"
                [matTooltip]="hideCN ? 'Show password' : 'Hide password'"
                >{{ hideCN ? 'visibility_off' : 'visibility'}}
                </mat-icon>
                @if (getErrorForms('confirmNewPassword')?.hasError('required')) {
                  <mat-error>Your new password confirmation is required.</mat-error>
                }
                @else if (getErrorForms('confirmNewPassword')?.hasError('minlength')) {
                  <mat-error>Password must be at least 6 characters long.</mat-error>
                }
            </mat-form-field>
          </div>
        </div>

        <div class="flex justify-end items-center gap-3">
          <button
          (click)="clear()" type="reset" class="w-30 btnClear">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front text"> Clear
            </span>
          </button>
          <button
          type="submit"
          class="w-30 btnAdd">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front text"> Add
            </span>
          </button>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
