<div class="flex flex-col items-center gap-5 w-auto px-5 py-3 overflow-hidden">
  <div class="w-full">
    <h1
    class="flex items-center justify-center text-lg text-gray-600 font-medium">
      {{ data.studentName }}
    </h1>
    <hr class="border-slate-400">
  </div>
  <form
  [formGroup]="form"
  (ngSubmit)="onSave()"
  >
    <div class="w-full flex justify-center items-center">
      <mat-form-field appearance="outline" class="w-50">
        <mat-label>Exam</mat-label>
          <input matInput
          formControlName="exam"
          type="text"
          placeholder="0,00 %"
          maxlength="6"
          (input)="onAmount($event)"/>
      </mat-form-field>
    </div>
    <div class="flex  w-full items-center justify-end gap-5 w-full">
      <button
      (click)="onCancel()" type="reset"
      class="button-share-cancel">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front text"> Cancel
        </span>
      </button>
      <button
      type="submit"
      class="button-share-send">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front text"> Save
        </span>
      </button>
    </div>
  </form>
</div>
