<div class="flex justify-center items-center px-4 sm:px-6 lg:px-8 py-12">
  <form class="shadow-xl rounded-3xl p-8 bg-white max-w-md"
    [formGroup]="form"
    (ngSubmit)="submit()"
  >
    <div class="mb-8 text-center">
      <h1 class="font-bold py-2 text-3xl text-[#2c2c2c]">
        Forgot Password?
      </h1>
      <h6 class="text-slate-600 text-base">
        Enter the email address associated with your account.
      </h6>
    </div>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
        <input matInput
        formControlName="email"
        type="email"
        placeholder="Enter email" maxlength="50"/>
        <mat-icon matPrefix>email</mat-icon>
        @if (emailInput?.hasError('email')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @else if (emailInput?.hasError('required')) {
          <mat-error>Email is required</mat-error>
        }
    </mat-form-field>

    <div class="my-4"></div>

    <button type="submit"
      class="w-full gradient-button cursor-pointer">
      Submit
      <span></span>
    </button>

    <div class="my-9"></div>

    <a [routerLink]="['/login']"
    class="flex justify-start cursor-pointer">Back to Sign in</a>
  </form>
</div>
