<div class="table-toolbar text-[#525252]">
  <div class="w-full flex items-center justify-between">
    <label class="formField">
      Show&nbsp;
      <mat-form-field
        appearance="outline"
        class="w-20"
      >
        <mat-select [(ngModel)]="pageSize"
          (selectionChange)="onPageSizeChanged()"
        >
          <mat-option [value]="4">4</mat-option>
          <mat-option [value]="8">8</mat-option>
          <mat-option [value]="12">12</mat-option>
          <mat-option [value]="16">16</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp;entries
    </label>

    <div class="flex gap-2 h-12">
      <a
        class="icon copy m-0 p-0"
        matTooltip="Copy"
        [matTooltipPosition]="position.value!"
        [matMenuTriggerFor]="menuCopy"

        (click)="toggleBtn('copy')"
        (menuClosed)="copy = false"
        [class.copy-active]="copy"
      >
        <span class="material-icons">content_copy</span>

        <mat-menu #menuCopy="matMenu">
          <button mat-menu-item (click)="onExport('copyAllData')">All data</button>
          <button mat-menu-item (click)="onExport('copyFiltered')">Filtered</button>
        </mat-menu>
      </a>
      <a
        class="icon excel"
        matTooltip="Excel"
        [matTooltipPosition]="position.value!"
        matTooltipHideDelay="0"
        [matMenuTriggerFor]="menuExcel"
        [class.excel-active]="excel"
        (click)="toggleBtn('excel')"
        (menuClosed)="excel = false"
        >
        <span class="material-icons">table_view</span>
        <mat-menu #menuExcel="matMenu">
          <button mat-menu-item (click)="onExport('exportExcelAllData')">All data</button>
          <button mat-menu-item (click)="onExport('exportExcelFiltered')">Filtered</button>
        </mat-menu>
      </a>
      <a
        class="icon pdf"
        matTooltip="PDF"
        [matTooltipPosition]="position.value!"
        matTooltipHideDelay="0"
        [matMenuTriggerFor]="menuPdf"
        [class.pdf-active]="pdf"
        (click)="toggleBtn('pdf')"
        (menuClosed)="pdf = false"
        >
        <span class="material-icons">picture_as_pdf</span>
        <mat-menu #menuPdf="matMenu">
          <button mat-menu-item (click)="onExport('exportPdfAllData')">All data</button>
          <button mat-menu-item (click)="onExport('exportPdfFiltered')">Filtered</button>
        </mat-menu>
      </a>
      <a
        class="icon print"
        matTooltip="Print"
        [matTooltipPosition]="position.value!"
        matTooltipHideDelay="0"
        [matMenuTriggerFor]="menuPrint"
        [class.print-active]="print"
        (click)="toggleBtn('print')"
        (menuClosed)="print = false"
        >
        <span class="material-icons">print</span>
        <mat-menu #menuPrint="matMenu">
          <button mat-menu-item (click)="onExport('printAllData')">All data</button>
          <button mat-menu-item (click)="onExport('printFiltered')">Filtered</button>
        </mat-menu>
      </a>
    </div>

    <button [routerLink]="['/', { outlets : { ramRouter: ['student-active-quizzes-exams'] } }]"
    (click)="navigateTo({ label: 'MANAGE EVALUATIONS', url: ['/', {outlets: {ramRouter: ['student-active-quizzes-exams']}}]})"
    type="button" class="w-45 quizzes-exams"
    >
      <span class="shadow"></span>
      <span class="edge"></span>
      <span class="front truncate"> Manage Evaluations
      </span>
    </button>

    <div class="w-1/4 formField">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Type to search...</mat-label>
        <mat-icon matSuffix>search</mat-icon>
          <input matInput [(ngModel)]="searchText" (input)="onSearch()"
          type="text" maxlength="50"/>
      </mat-form-field>
    </div>
  </div>

  <ag-grid-angular
    class="ag-theme-alpine custom-scrollbar w-full h-full"
    [rowData]="filteredData"
    [columnDefs]="columnDefs"
    [animateRows]="true"
    [domLayout]="'autoHeight'"
    [pagination]="true"
    [paginationPageSize]="pageSize"
    [suppressPaginationPanel]="true"
    [rowHeight]="60"
    [rowSelection]="rowSelection"
    (gridReady)="onGridReady($event)"
    #agGrid
    >
  </ag-grid-angular>

  <p>
    Showing {{ startIndex + 1 }} to {{ endIndex }} of {{ rowData.length }} entries
  </p>

  <div class="pagination">
    <button (click)="gotToPrevious()" [disabled]="currentPage === 1"
    matTooltip="Previous"
    [matTooltipPosition]="positionT.value!"
    matTooltipHideDelay="50">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <ng-container *ngFor="let page of totalPagesArray">
      <button *ngIf="isNumber(page)"
              (click)="goToPage(page)"
              [class.active]="currentPage === page">
        {{ page }}
      </button>
      <span *ngIf="!isNumber(page)" class="cursor-default">...</span>
    </ng-container>

    <button (click)="goToNext()" [disabled]="currentPage === totalPages"
    matTooltip="Next"
    [matTooltipPosition]="positionT.value!"
    matTooltipHideDelay="50">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
