<div class="flex justify-center items-center px-4 sm:px-6 lg:px-8 py-12">
  <form class="shadow-xl rounded-3xl p-8 bg-white max-w-md"
    [formGroup]="form"
    (ngSubmit)="resetPasswordHandler()"
  >
    <div class="mb-8 text-center">
      <h1 class="font-bold py-2 text-3xl text-[#2c2c2c]">
        Reset Your Password
      </h1>
      <h6 class="text-slate-600 text-base px-3">
        Your password must be at least 6 characters long and include a combination of numbers, lowercase letters (a-z), uppercase letters (A-Z), and special characters (!$&#64;%).
      </h6>
    </div>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>New Password</mat-label>
        <input matInput
        formControlName="newPassword"
        type="{{ hide ? 'password' : 'text' }}"
        placeholder="Enter your new password" maxlength="50"/>
        <mat-icon matPrefix>lock</mat-icon>
        <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        @if (newPasswordInput?.hasError('required')) {
          <mat-error>Please enter your new password.</mat-error>
        }
        @else if (newPasswordInput?.hasError('minlength')) {
          <mat-error>Password must be at least 6 characters long.</mat-error>
        }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Confirm new Password</mat-label>
        <input matInput
        formControlName="confirmNewPassword"
        type="{{ hideC ? 'password' : 'text' }}"
        placeholder="Confirm your new Password" maxlength="50"/>
        <mat-icon matPrefix>lock</mat-icon>
        <mat-icon style="cursor: pointer;" matSuffix (click)="hideC = !hideC">{{ hideC ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        @if (confirmNewPasswordInput?.hasError('required')) {
          <mat-error>Your new password confirmation is required.</mat-error>
        }
        @else if (confirmNewPasswordInput?.hasError('minlength')) {
          <mat-error>Password must be at least 6 characters long.</mat-error>
        }
    </mat-form-field>

    <div class="my-4"></div>

    <button type="submit"
      class="w-full gradient-button cursor-pointer">
      Reset Password
      <span></span>
    </button>

    <div class="my-9"></div>

    <a [routerLink]="['/login']"
    class="flex justify-start cursor-pointer">Cancel</a>
  </form>
</div>
